# Last Modified: Wed Jul 26 03:04:59 2023
# Copyright (C) Author: Kriachko Aleksei admin@unixweb.info
include <tunables/global>

# ------------------------------------------------------------------
#
#    Copyright (C) 2013-2020 Christian Boltz
#
#    This program is free software; you can redistribute it and/or
#    modify it under the terms of version 2 of the GNU General Public
#    License published by the Free Software Foundation.
#
# ------------------------------------------------------------------
# vim: ft=apparmor


profile dovecot-config /usr/lib/dovecot/config {
  include <abstractions/base>
  include <abstractions/dovecot-common>
  include <abstractions/nameservice>
  include <abstractions/ssl_keys>
  # include if exists <local/usr.lib.dovecot.config>

  capability dac_override,
  capability dac_read_search,

  /etc/dovecot/** r,
  /etc/exim4/ssl/* r,
  /usr/bin/doveconf rix,
  /usr/lib/dovecot/config mr,
  /usr/lib/dovecot/managesieve Px,
  /usr/share/dovecot/** r,
  /var/lib/dovecot/ssl-parameters.dat r,
  owner /var/www/httpd-cert/** r,

}
